

.main__grid{
  padding: 10px;
  display: grid;  
  grid-template-columns: 20% 80% ;
  grid-template-rows: 60px auto;

  grid-template-areas: 
                      's h'
                      's m';
  
}
.header{
  grid-area: h;
  margin: 10px;
  border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.app_main_content{
  grid-area: m;
  margin: 10px;
  
}

.sidebar{
  background-color: brown;    
  grid-area: s;
  border-radius: 10px;
}


