

.main__grid{
  padding: 10px;
  display: grid;  
  grid-template-columns: 20% 80% ;
  grid-template-rows: 60px auto;

  grid-template-areas: 
                      's h'
                      's m';
  
}
.header{
  color:#fff;
  background-color: #2a343d;
  box-shadow: 0px 0px 10px rgba(54, 135, 167, 0.411);

  grid-area: h;
  margin: 10px;
  border-radius: 5px;
}

.app_main_content{
  grid-area: m;
  margin: 10px;
  
}

.sidebar{
  color:#fff;
  background-color: #2a343d;
  box-shadow: 0px 0px 10px rgba(54, 135, 167, 0.411);
   grid-area: s;
  border-radius: 10px;
}


