.sidebar{
    margin: 10px;
   
}
.sidebar_items{

    color:#fff;
    background-color: #2a343d;
    box-shadow: 0px 0px 15px rgba(140, 212, 241, 0.212);
        border-radius: 5px;
   
}
.Sidebar_icon{
    padding: 10px;
    display: block;
    cursor: pointer;
}
.Sidebar_icon:first-child{
    border-radius: 5px 5px 0px 0px;
}
.Sidebar_icon:last-child{
    border-radius: 0px 0px 5px 5px ;
}

a{
    text-decoration: none;
    color: #fff;
  }

.activeLink{
    color: rgb(26, 29, 29);
    background-color: #B2EBF2;
    background-size: cover;
}