.Dialogs{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 70vh 30vh;
    grid-template-areas:    "iscontact isdialog"
                            "iscontact textarea";
    grid-gap: 10px;

}


.Dialogs_one_contact{
    padding: 10px;
    display: block;
}


.Dialogs_its_dialog{
    border-radius: 5px;
    color:#fff;
    background-color: #2a343d;
    box-shadow: 0px 0px 10px rgba(54, 135, 167, 0.411);
    grid-area: isdialog;
    padding: 10px;  
    overflow-y: scroll;
}

.Dialogs_message_item{
    padding: 15px;
    margin: 10px;
    background-color: rgb(21, 21, 37);
    border-radius: 10px;
}

.Dialogs_contacts{
    border-radius: 5px;
    color:#fff;
  background-color: #2a343d;
  box-shadow: 0px 0px 10px rgba(54, 135, 167, 0.411);

    grid-area: iscontact
}

.Dialogs_one_contact:first-child{
    border-radius: 5px 5px 0px 0px;
}
.Dialogs_one_contact:last-child{
    border-radius: 0px 0px 5px 5px ;
}

.Dialogs_textarea{
    grid-area: textarea;
    height: auto;
  
}

.Dialogs_textare_istext{
    width: 70%;
    height: 50px;
}

.activeLink{
    color: darkslategrey;
    background-color: #B2EBF2;
    background-size: cover;
}